<h1>styles</h1>
 
<table>
  <tr>
    <th>name</th>
    <th>description</th>
    <th>impact</th>
    <th>distortion</th>
    <th>ttl</th>
  </tr>
 
<% @styles.each do |style| %>
  <tr>
    <td><%=h style.name %></td>
    <td><%=h style.description %></td>
    <td><%=h style.impact %></td>
    <td><%=h style.distortion %></td>
    <td><%=h style.ttl %></td>
 
    <td><%= link_to 'show style', resource(:admin, style) %></td>
  </tr>
<% end %>
</table>
 
<%= link_to 'new style', resource(:admin, :styles, :new) %>