<h3>add a style</h3>

<div id="form-container">

  <%= form_for(@style, :action => resource(:admin, :styles)) do %>
    
    <fieldset>

      <legend><span>details</span></legend>

      <p>
        <%= text_field :name, :label => "name" %>
      </p>

      <p>
        <%= text_area :description, :label => "description" %>
      </p>

      <p>
        <%= text_field :impact, :label => "impact" %>
      </p>
      
      <p>
        <%= text_field :distortion, :label => "distortion" %>
      </p>
      
      <p>
        <%= text_field :ttl, :label => "ttl" %>
      </p>

    </fieldset>
    
    <%= submit "add" %>

  <% end =%>
  
</div>