<h3>showing style</h3>

<label>name</label>
<p><%=h @style.name %></p>

<label>description</label>
<p><%=h @style.description %></p>

<label>impact</label>
<p><%=h @style.impact %></p>

<label>distortion</label>
<p><%=h @style.distortion %></p>

<label>ttl</label>
<p><%=h @style.ttl %></p>

<img src="<%= @style.image.url %>" alt="<%= @style.name %>" />
<img src="<%= @style.symbol_image.url %>" alt="<%= @style.name %>" />
<img src="<%= @style.crosshair_image.url %>" alt="<%= @style.name %>" />
 
<%= link_to 'all styles', resource(:admin, :styles) %>
