<h1>code generations</h1>
 
<table>
  <tr>
    <th>user</th>
    <th>styles</th>
    <th>amount</th>
    <th>created at</th>
  </tr>
 
<% @code_generations.each do |code_generation| %>
  <tr>
    <td><%=h code_generation.user_name %></td>
    <td><%= style_links(code_generation) %></td>
    <td><%=h code_generation.amount %></td>
    <td><%=h code_generation.created_at %></td>
    
    <td><%= link_to 'show', resource(:admin, code_generation, :codes) %></td>
  </tr>
<% end %>
</table>
 
<%= link_to 'generate new codes', resource(:admin, :code_generations, :new) %>

