<h1>Codes</h1>
 
<table>
  <tr>
    <th>Generator</th>
    <th>Styles</th>
    <th>Secret</th>
    <th>Nr of posts</th>
    <th>Created At</th>
    <th>Used On</th>
  </tr>
 
<% @codes.each do |code| %>
  <tr>
    <td><%=h code.generator_name %></td>
    <td><%=h code.style_names.join(',') %></td>
    <td><%=h code.secret %></td>
    <td><%=h code.nr_of_posts %></td>
    <td><%=h code.created_at %></td>
    <td><%=h code.deleted_at %></td>
  </tr>
<% end %>
</table>
 
<%= link_to 'Generate New Codes', resource(:admin, :code_generations, :new) %>
<%= link_to 'All Code Generations', resource(:admin, :code_generations) %>

