<h1>codes</h1>
 
<table>
  <tr>
    <th>generator</th>
    <th>styles</th>
    <th>secret</th>
    <th>nr of posts</th>
    <th>created at</th>
    <th>used on</th>
  </tr>
 
<% @codes.each do |code| %>
  <tr>
    <td><%=h code.generator_name %></td>
    <td><%= style_links(code) %></td>
    <td><%=h code.secret %></td>
    <td><%=h code.nr_of_posts %></td>
    <td><%=h code.created_at %></td>
    <td><%=h code.deleted_at %></td>
  </tr>
<% end %>
</table>
 
<%= link_to 'generate new codes', resource(:admin, :code_generations, :new) %>
<%= link_to 'all code generations', resource(:admin, :code_generations) %>

