<h1>New CodeGeneration</h1>
 
<%= form_for(@code_generation, :action => resource(:code_generations) ) do %>
 
  <p><%= select :post_type_id, :collection => PostType.all, :text_method => :name, :value_method => :id %></p>
  <p><%= text_field :amount, :label => "Amount" %></p>
 
  <p>
    <%= submit "Create" %>
  </p>
  
<% end =%>
 
<%= link_to 'All CodeGenerations', resource(:code_generations) %>

