<h3>walls</h3>
 
<table class="resources">
	<thead>
	  <tr>
	    <th>id</th>
	    <th>name</th>
	    <th>description</th>
	    <th>restricted</th>
	    <th>created</th>
	    <th>show</th>
			<th>delete</th>
	  </tr>
	</thead>
  <tfoot>
  	<tr>
  		<td></td>
  	</tr>
  </tfoot>
	<tbody>
	<% @walls.each do |wall| %>
	  <tr>
	    <td><%=h wall.id %></td>
	    <td><%=h wall.name %></td>
	    <td><%=h wall.description %></td>
	    <td><%=h wall.access_restricted.inspect %></td>
	    <td class="date"><%=h wall.created_at.formatted(:dmy) %></td>
	 
	    <td class="action"><%= link_to 'show', resource(:admin, wall) %></td>
	    <td class="action"><%= delete_button resource(:admin, wall) %></td>
	  </tr>
	<% end %>
	</tbody>
</table>
