<% require_js(
  'jquery-uploadify/jquery.uploadify',
  'walls/upload'
)
%>

<h3>add a wall</h3>

<div id="form-container">

  <%= form_for(@wall, :action => resource(:admin, :walls)) do %>
    
    <fieldset>

      <legend><span>details</span></legend>

      <p>
        <%= text_field :name, :label => "name" %>
      </p>

      <p>
        <%= text_area :description, :label => "description" %>
      </p>
      
      <p>
        <%= check_box :access_restricted, :label => "access restricted" %>
      </p>

      <%= partial 'admin/shared/forms/image', :upload_allowed => true %>

    </fieldset>

    <%= submit "add" %>

  <% end =%>
  
</div>