<h1>scenes</h1>
 
<table>
  <tr>
    <th>name</th>
    <th>description</th>
    <th>uri</th>
    <th>created at</th>
    <th>updated at</th>
  </tr>
 
<% @scenes.each do |scene| %>
  <tr>
    <td><%=h scene.name %></td>
    <td><%=h scene.description %></td>
    <td><%=h scene.uri %></td>
    <td><%=h scene.created_at %></td>
    <td><%=h scene.updated_at %></td>
 
    <td><%= link_to 'show scene', resource(:admin, scene) %></td>
  </tr>
<% end %>
</table>
 
<%= link_to 'new scene', resource(:admin, :scenes, :new) %>