<h3>add a scene</h3>

<div id="form-container">

  <%= form_for(@scene, :action => resource(:admin, :scenes)) do %>
    
    <fieldset>

      <legend><span>details</span></legend>

      <p>
        <%= text_field :name, :label => "name" %>
      </p>

      <p>
        <%= text_area :description, :label => "description" %>
      </p>

      <p>
        <%= text_field :uri, :label => "uri" %>
      </p>

    </fieldset>
    
    <%= submit "add" %>

  <% end =%>
  
</div>