<h3>showing scene</h3>

<label>name</label>
<p><%=h @scene.name %></p>

<label>description</label>
<p><%=h @scene.description %></p>

<label>uri</label>
<p><%=h @scene.uri %></p>

<img src="<%= @scene.image.url(:small) %>" alt="<%= @scene.name %>" />
 
<%= link_to 'all scenes', resource(:admin, :scenes) %>
