<h1>Listing Codes</h1>
 
<table>
  <tr>
    <th>Generator</th>
    <th>PostType</th>
    <th>Secret</th>
    <th>Created At</th>
    <th>Used On</th>
  </tr>
 
<% @codes.each do |code| %>
  <tr>
    <td><%=h code.generator_name %></td>
    <td><%=h code.post_type_name %></td>
    <td><%=h code.secret %></td>
    <td><%=h code.created_at %></td>
    <td><%=h code.deleted_at %></td>
  </tr>
<% end %>
</table>
 
<%= link_to 'Generate New Codes', resource(:code_generations, :new) %>

