<h3>All Styles</h3>
 
<table class="resources">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Impact</th>
	    <th>Distortion</th>
	    <th>Time To Live</th>
	  </tr>
	</thead>
  <tfoot>
  	<tr>
  		<td></td>
  	</tr>
  </tfoot>
	<tbody>
	<% @styles.each do |style| %>
	  <tr>
	    <td><%=h style.name %></td>
	    <td><%=h style.description %></td>
	    <td class="number"><%=h style.impact %></td>
	    <td class="number"><%=h style.distortion %></td>
	    <td class="number"><%=h style.ttl %></td>
	  </tr>
	<% end %>
	</tbody>
</table>