<h3>posts</h3>
 
<table class="resources">
	<thead>
	  <tr>
	    <th>id</th>
	    <th>wall</th>
	    <th>style</th>
	    <th>body</th>
	    <th>background color</th>
	    <th>text color</th>
	    <th>created</th>
			<th>action</th>
	  </tr>
	</thead>
  <tfoot>
  	<tr><td></td></tr>
  </tfoot>
	<tbody>
		<% @posts.each do |post| %>
		  <tr>
		    <td><%=h post.id %></td>
		    <td><%=h post.wall_name %></td>
		    <td><%=h post.style_name %></td>
		    <td><%=h post.body %></td>
		    <td><%=h post.background_color %></td>
		    <td><%=h post.text_color %></td>
		    <td class="date"><%=h post.created_at.formatted(:dmy) %></td>
		    <td class="date"><%=h post.updated_at.formatted(:dmy) %></td>
		 
		    <td class="action"><%= link_to 'show', resource(:admin, post) %></td>
		  </tr>
		<% end %>
</tbody>
</table>
 
<%= link_to 'new post', resource(:admin, :posts, :new) %>