<h3>place a shot</h3>

<div id="form-container">

  <%= form_for(@post, :action => resource(:admin, :posts)) do %>

    <fieldset>

      <legend><span>game</span></legend>

      <p>
        <%= select :scene_id, :label => 'scene', :collection => Scene.all, :text_method => :name, :value_method => :id %>
      </p>
    
      <p>
        <%= select :style_id, :label => 'style', :collection => Style.all, :text_method => :name, :value_method => :id %>
      </p>
      
      <p>
        <%= text_field :invitation_code, :label => "code" %>
      </p>
      
    </fieldset>
    
    <fieldset>

      <legend><span>details</span></legend>

      <p>
        <%= text_area :body, :label => "text" %>
      </p>

      <p>
        <%= text_field :text_color, :label => "text color" %>
      </p>

      <p>
        <%= text_field :background_color, :label => "background color" %>
      </p>
    
      <p>
        <%= text_field :x_coord, :label => "x-coordinate" %>
      </p>

      <p>
        <%= text_field :y_coord, :label => "y-coordinate" %>
      </p>

    </fieldset>
    
    <%= submit "shoot" %>

  <% end =%>
  
</div>