<h1>post</h1>

<label>body</label>
<p><%=h @post.body %></p>

<label>background color</label>
<p><%=h @post.background_color %></p>

<label>text color</label>
<p><%=h @post.text_color %></p>

<label>style</label>
<p><%=h @post.style_name %></p>

<label>stylde description</label>
<p><%=h @post.style_description %></p>
 
<%= link_to 'all posts', resource(:admin, :posts) %>

