<h3>showing stage</h3>

<label>name</label>
<p><%=h @stage.name %></p>

<label>description</label>
<p><%=h @stage.description %></p>

<label>access restricted</label>
<p><%=h @stage.access_restricted.inspect %></p>

<img src="<%= @stage.image.url %>" alt="<%= @stage.name %>" />
 
<%= link_to 'all stages', resource(:admin, :stages) %>
