<h1>Edit Post</h1>
 
<%= form_for(@post, :action => resource(@post)) do %>
 
  <p><%= text_field :body, :label => "Body" %></p>
  <p><%= text_field :background_color, :label => "Background Color" %></p>
  <p><%= text_field :text_color, :label => "Text Color" %></p>
  
  <p>
    <%= submit "Update" %>
  </p>
  
<% end =%>
 
<%= link_to 'Show Post', resource(@post) %> | 
<%= link_to 'All Posts', resource(:posts) %>