<h1>linzblast</h1>
 
<table>
  
  <tr><th>listings</th></tr>
  
  <tr>
    <td><%= link_to 'code generations', resource(:admin, :code_generations) %></td>
  </tr>
  
  <tr>
    <td><%= link_to 'codes', resource(:admin, :codes) %></td>
  </tr>
  
  <tr>
    <td><%= link_to 'games', resource(:admin, :games) %></td>
  </tr>
  
  <tr>
    <td><%= link_to 'scenes', resource(:admin, :scenes) %></td>
  </tr>
  
  <tr>
    <td><%= link_to 'posts', resource(:admin, :posts) %></td>
  </tr>
  
  <tr>
    <td><%= link_to 'styles', resource(:admin, :styles) %></td>
  </tr>
  
  <tr><th>new stuff</th></tr>
  
  <tr>
    <td><%= link_to 'code generation', resource(:admin, :code_generations, :new) %></td>
  </tr>
  
  <tr>
    <td><%= link_to 'scene', resource(:admin, :scenes, :new) %></td>
  </tr>
  
  <tr>
    <td><%= link_to 'style', resource(:admin, :styles, :new) %></td>
  </tr>
  
  <tr>
    <td><%= link_to 'post', resource(:admin, :posts, :new) %></td>
  </tr>
  
</table>
